body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
.BJ{
    height: 689px;
    width: 689px;
    border-style: inset;
    border-color: blue;
    background-color: rgb(35, 105, 68);
}

.wah {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dealer-hand img, #player-hand img {
    width: 100px;
}

h1{
    color: rgb(185, 0, 0);
    font-size: 48px;
}

#game-status {
    color: blue;
}

#hit-btn, #stay-btn, #play-again-btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 6px;
}

#home {
    display: inline;
	text-decoration: none;
    color: white;
	border: none;
	background-color: blue;
	border-radius: 6px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.5px;
	width: 100px;
	padding: 10px;
	cursor: pointer;
	position: relative;
    left: -410px;
}

#home:hover {
	transition: 0.3s;
	background-color: #ADD8E6;
	color: black;
	scale: 105%;
}
