<!DOCTYPE html>
<html>
<head>
    <title>Candy Store</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/candy.css">

    <form action="/">
        <input id=home type="submit" name="return" value="Home">
    </form>

    <br>
    <br>

</head>
  <body>
      <div class="c">
          <div class="can">
              <p class="Location"> Candy Store </p>
              <br> 

              <form method="POST" action="/candy">
                  <br> <br>
                  <label>
                      <input type="radio" name="choice" value="Gumball"> Gumball - $1
                  </label><br><br><br>
                  <label>
                      <input type="radio" name="choice" value="Candy Corn"> Candy Corn - $2
                  </label><br><br><br>
                  <label>
                      <input type="radio" name="choice" value="Ice cream"> Ice cream - $1
                  </label><br><br><br>
                  <label>
                      <input type="radio" name="choice" value="SUPER SECRET SUGAR RUSH"> SUPER SECRET SUGAR RUSH - $5
                  </label><br><br><br>
                  <label>
                      <input type="radio" name="choice" value="Jawbreaker"> Jawbreaker - $1
                  </label><br><br><br>
                  <label>
                      <input type="radio" name="choice" value="Dragon's Breath Candies"> Dragon's Breath Candies - $1
                  </label><br><br><br><br>

                  <input id="buy" type="submit" value="Buy Now"> <br><br><br>
              </form>
              <div class="back">
                  <form action="/mall">
                      <input id=back type="submit" name="return" value="Return to Mall">
                  </form>
              </div>
          </div>
      </div>
          </form>
</body>
</html>