<!DOCTYPE html>
<html>
  <body>
    <button><a href = "/school"> Run away back to school </a></button>
    <br>
    <br>
    Hello you shall begin the fight against the head developer Mykolyk who shall impose 3 challenges upon you.
    <br>
    Only the strongest of Devos will be able to complete these challenges.
    <br>
    In order to gain the great sires acknoledgement ye shall not fail any of these tasks.
    <br>
    The first of these challenges shall be Hangman.
    <br>
    <button><a href = "/hangman"> Begin </a></button>
  </body>
</html>