<!DOCTYPE html>
<html>
<head>
    <title>Dark Alley</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/darkalley.css">

    <form action="/">
        <input id=home type="submit" name="return" value="Home">
    </form>

    <br>
    <br>

</head>
<body>
    <div class="c">
        <div class="can">
            <p class="Location"> Dark Alley </p>
            <br>

            <form method="POST" action="/darkAlley">
                <br> <br>
                <label>
                    <input type="radio" name="choice" value="Test Answers"> Test Answers - $5
                </label><br><br><br>
                <label>
                    <input type="radio" name="choice" value="Adderal"> Adderal - $6
                </label><br><br><br>
                <label>
                    <input type="radio" name="choice" value="Grandma's Cooking"> Grandma's Cooking - $3
                </label><br><br><br>

                <input id="buy" type="submit" value="Buy Now"> <br><br><br>
            </form>
            <div class="back">
                <form action="/mall">
                    <input id=back type="submit" name="return" value="Return to Mall">
                </form>
            </div>
        </div>
    </div>
    </form>
</body>
</html>