<!DOCTYPE html>
<html>
  <body>
    <button><a href = "/mall"> mall </a></button>
    <form method="POST" action="/candy">
      <label>
          <input type="radio" name="choice" value="Option 1"> Option 1 - $10
      </label><br>
      <label>
          <input type="radio" name="choice" value="Option 2"> Option 2 - $20
      </label><br>
      <label>
          <input type="radio" name="choice" value="Option 3"> Option 3 - $30
      </label><br>
      <label>
          <input type="radio" name="choice" value="Option 4"> Option 4 - $40
      </label><br>
      <label>
          <input type="radio" name="choice" value="Option 5"> Option 5 - $50
      </label><br>
      <label>
          <input type="radio" name="choice" value="Option 6"> Option 6 - $60
      </label><br><br>
      
      <input type="submit" value="Buy Now">
  </form>
  </body>
</html>