<!DOCTYPE html>
<html>

<head>
    <title>{{ location }}</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/encounter.css">

        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>

        <br>
        <br>

  </head>
  <body>
<body>
    <div class = "e">
        <div class ="enc">
            <p> {{ location }} </p>

            <br> <br> <br> <br>
            <p> {{ encounter }}? </p>


            <div class = "yes">
                <form action="/">
                    <input id= Yes type="submit" name="return" value="Yes">
                </form>
            </div>

            <div class = "no">
                <form action="/">
                    <input id= No type="submit" name="return" value="No">
                </form>
            </div>

            <div class = "back">
                <form action="/{{back}}">
                    <input id= back type="submit" name="return" value="Return to {{ back }}">
                </form>
            </div>

        </div>
    </div>
  </body>
  </body>
</html>
