<!DOCTYPE html>
<html>

<head>
    <title>{{ locname }}</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/encounter.css">

        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>

        <br>
        <br>

  </head>
  <body>
<body>
    <div class = "e">
        <div class="enc">
            <p class = "Location"> {{ locname }} </p>

            <br> <br> <br> <br>
            <p> {{ encounter }}? </p>

            <br />
            <br />
            <br />

            <div class="yes">
                <form method="POST" action="/{{location}}">
                    <input id=Yes type="submit" name="choice" value="Yes">
                </form>
            </div>

            <br />
            <br />
            <br />

            <div class="no">
                <form method="POST" action="/{{location}}">
                    <input id=No type="submit" name="choice" value="No">
                </form>
            </div>

            <br />
            <br />
            <br />

            <div class="back">
                <form action="/{{back}}">
                    <input id=back type="submit" name="return" value="Return to {{ back }}">
                </form>
            </div>

        </div>
    </div>
  </body>
  </body>
</html>
