<!DOCTYPE html>
<html>
<body>
  Let's play hangman. You will suffer a penalty for each mistake. If you suffer six penalties, you will be hanged.
  <p>Remaining lives: {{lives}} </p>
  {% if lives > 0%}
  {% if end != True %}
  <form action="/hangman/check" method="post">
    <input id = 'letter' type="letter" name="inputLetter" placeholder="placeholder"><br>
    <input id= guess type="submit" name="guess" value="guess">
  </form>
  {% endif %}
  {% endif %}
  {% if win == True %}
  Ye has conquered the first challenge. Please proceed to the next
  <br>
  <form action="/screen">
    <button> Continue </button>
  </form>
  {% endif %}
  {% if lose == True %}
  Ye has lost thy battle. Attempt to prove your worth once again.
  <br>
  <form action="/hangman">
    <button> Play again? </button>
  </form>
  {% endif %}
  <p>{{c}}</p>
  <p>{{message}}</p>
  {% if num != 0%}
  <p>{{used}}</p>
  {% endif %}
  <!-- List of penalties -->
</body>
</html>
