<!DOCTYPE html>
<html>
<body>
  Let's play hangman. You will suffer a penalty for each mistake. If you suffer six penalties, you will be hanged.
  <p>Remaining lives: {{lives}} </p>
  <form action="/hangman/check" method="post">
    <input id = 'letter' type="letter" name="inputLetter" placeholder="placeholder"><br>
    <input id= guess type="submit" name="guess" value="guess">
  </form>
  <p>{{c}}</p>
  <p>{{message}}</p>
  {% if num != 0%}
  <p>{{used}}</p>
  {% endif %}
  <!-- List of penalties -->
</body>
</html>
