<!DOCTYPE html>

<!--
Kishi Wijaya, Ryan Zhou, Tanzeem Hasan, Zyiad Hamed
whileTrueCode-
SoftDev
-->

<html>
  <head>
    <title>Home</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/home.css">
  </head>

  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <nav class="navbar">
      <ul class="nav">
      <li class="nav-item"> <a class="nav-link" href="{{ url_for('home') }}"> Home </a> </li>
      </ul>
      <ul class="nav">
      <li class="nav-item"> <a class="nav-link" href="#"> {{ session['username'] }}'s Profile </a> </li>
      <li class="nav-item"> <a class="nav-link" href="{{ url_for('logout') }}"> Logout </a> </li>
      </ul>
      </nav>
    </div>
    <!------>

    <div class="container">

      <!-- header/info -->
      <h1> Magnolia Gardens </h1>
      <h6> <i> by Magical Magnolias </i> </h6>

      <!-- <a href="{{ url_for('logout') }}">Logout</a> &emsp;&emsp; -->

    </div>
  </body>
</html>
