<!DOCTYPE html>
<html>

  <head>
    <title>House</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/house.css">

        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>

        <br>
        <br>

  </head>

  <body>
   <div class ="h">
    <img class = "house" src = ../static/pictures/housebackground.png>

   <div class = locations>
        <a class = "kitchen" href = "/"> <img src = ../static/pictures/kitchen.png> </a>
        <a class = "leave" href = "/neighborhood"> <img src = ../static/pictures/leavehouse.png> </a>
        <a class = "bedroom" href = "/"> <img src = ../static/pictures/bedroom.png> </a>
       </div>
    </div>
  </body>
</html>
