<!DOCTYPE html>

<!--
  Nia Lam, Amanda Tan, Naomi Lai, Kishi Wijaya
  Magical Magnolias
  SoftDev
  P02: Makers Makin' It, Act I
  2025-01-15
-->

<html>
  <head>
        <link rel="stylesheet" href="/static/css/login.css">
        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>
    <title>Login</title>
  </head>

  <body>

    <h1> LOGIN </h1>

    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p id="flashes">{{ message }}</p>
          {% endfor %}
      {% endif %}
    {% endwith %}

    <br><br>

    <form action="/login" method="POST">
      <input id = "boxes" type="text" name="username" placeholder="Username"><br><br>
      <input id = "boxes" type="password" name="password" placeholder="Password"><br><br>
      <input id=login type="submit" name="login" value="Login">
    </form>

    <p style="color: red">{{ error_text }}</p>

    <p> Don't have an account? <p><a class="nav-link" href="{{ url_for('register')}}"> Register Here</a>

    <br><br>

  </body>
</html>
