<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Math Fight</title>
</head>
<body>
  <div>
    <p>You've encountered the <b>Math Exam!</b></p>
  </div>
  <form action="/mathFight/check" method="POST">
    {% for i in range(numquestions) %}
      <div>
        <h3>{{ questions[i] }}</h3>
        {% for choice in answersDict[questions[i]] %}
          <label>
            <input type="radio" name="{{ i }}" value="{{ choice }}"> {{ choice }}
          </label><br>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit"><b>Submit Answers</b></button>
  </form>
</body>
</html>
