<!DOCTYPE html>
<html>

  <head>
    <title>Neighborhood</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/neighborhood.css">

        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>

        <br>
        <br>

  </head>

  <body>
   <div class ="n">
    <img class = "neighborhood" src = ../static/pictures/neighborhood.png>

   <div class = locations>
        <div class = "h">
            <a class = "house" href = "/house"> <img src = ../static/pictures/house.png> </a>
        </div>
        <div class = "f">
            <a class = "friendhouse" href = "/friendHouse"> <img src = ../static/pictures/friendhome.png> </a>
        </div>
        <div class = "p">
            <a class = "park" href = "/park"> <img src = ../static/pictures/park.png> </a>
        </div>
        <div class = "s">
            <a class = "subway" href = "/subway"> <img src = ../static/pictures/subway.png> </a>
        </div>
       </div>
    </div>
  </body>
</html>
