<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>

    <div id=top>
        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>
        <h1 id=title> {{username}}'s Profile</h1>
    </div>

    <img src = ../static/pictures/yum.png alt = 'yum'>


</body>
</html>
