<!DOCTYPE html>
<html>

  <head>
    <title>Neighborhood</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/school.css">

        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>

        <br>
        <br>

  </head>

  <body>
   <div class ="s">
    <img class = "school" src = ../static/pictures/school.png>

   <div class = locations>
        <a class = "CSlab" href = "/computerScienceLab"> <img src = ../static/pictures/cslab.png> </a>
        <a class = "Math" href = "/mathClassroom"> <img src = ../static/pictures/math.png> </a>
        <a class = "USH" href = "/USHistory"> <img src = ../static/pictures/ushis.png> </a>
        <a class = "Lunchrm" href = "/lunchroom"> <img src = ../static/pictures/lunchrm.png> </a>
        <a class = "subway" href = "/subway"> <img src = ../static/pictures/exitschool.png> </a>
       </div>
    </div>
  </body>
</html>
