<!DOCTYPE html>
<html>
  <body>
    {% if isPlaying%}
      <div>
        Welcome to Scramble the word, where we scramble words!
        Do you have what it takes to unscramble the word?
        <br>
        You only have three tries you know!
      </div>
      <div>
        <form action="/scramble/check" method="POST">
          <input id="guessBox" name="guess" type="letter" placeholder="Enter Your Guess!">
          <button id="submit" type="submit">Guess</button>
        </form>
      </div>
      <div>
        You have {{ attemptsremaining }} attempts remaining!
      </div>
      <div>
        Can you unscramble this word?
        <br>
        <i>{{ scrambledWord }}</i>
      </div>
    {% else %}
      <div>
        You {{ result }}!
        <br>
        <form action="/scramble" method="POST">
          <button id="submit" type="submit">Play Again!</button>
        </form>
      </div>
    {% endif %}
    <div>
      {% for i in dialogue %}
      {{i}}
      <br>
      {% endfor %}
    </div>
  </body>
</html>
