<!DOCTYPE html>
<html>

<head>
    <title>Subway</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/subway.css">

        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>

        <br>
        <br>

  </head>
  <body>
<body>
   <div class ="s">
    <img class = "subway" src = ../static/pictures/SubwayBackground.png>

   <div class = locations>
            <a class = "school" href = "/school"> <img src = ../static/pictures/SchoolSign.png> </a>
            <a class = "neighborhood" href = "/neighborhood"> <img src = ../static/pictures/NeighborhoodSign.png> </a>
            <a class = "mall" href = "/mall"> <img src = ../static/pictures/MallSign.png> </a>
       </div>
    </div>
  </body>
  </body>
</html>
